.cards-wrapper{
   @media (max-width : 767px)
   {
    margin-top: 6rem;
   }
    
    .react-card-front{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .react-card-back{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide-shadow{
       opacity: 0 !important;
    }

    .swiper-pagination{
        margin-top: 1rem;
        height: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.35rem;

        .add-bullet{
            background-color: transparent !important;
            width: 1rem !important;
            height: 1rem !important;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: #707070 !important;
                margin: 0;
                font-weight: 800;
                font-size: 0.65rem;
            }
        }

        span{
            text-align: center;
            background-color: #707070;
            width: 0.65rem;
            height: 0.65rem;
            border-radius: 100%;
            opacity: 1;
            background: rgba(0, 0, 0, 0.2);
            
        }

       
          
        .swiper-pagination-bullet-active {
            background: #6e72fc;
            p{
                color: #6e72fc !important;
            }
        }    
    }

    .add-card{
        width: 17rem;
        height: 28rem;
        background-color: rgba(255, 255, 255, 0.954);
        border: 2px dashed rgba(211, 211, 211, 0.858);
        border-radius: 1rem;
        box-shadow: 0px 0px 6px #8888882d;
        padding: 1.5rem;
        position: relative;

        p{ 
            color: #a6a6a6;
        }
        
    }

    .card-custom{
        width: 17rem;
        height: 28rem;
        background-color: white;
        // border: 1px solid #d3d3d3da;
        border-radius: 1rem;
        box-shadow: 0px 0px 6px #8888882d;
        padding: 1.5rem;
        position: relative;

        

        .dropdown{
            position: absolute;
            top: 1rem;
            right: 1rem;
           
        }
        
        .dropdown-menu{
            margin-top: 0.5rem !important;
            padding-inline: 1rem;

            .dropdown-item{
                display: flex;

                align-items: center;

                &:hover{
                    background-color: transparent;
                }
            }
        }
    

        .logo-container{
            width: 5.5rem;
            height: 5.5rem;   
        }

        .logo{
            width: 100%;
            height: 100%;
            object-fit: cover; 
            background-color: #dddddd;
        }

        h2{
            font-size: 1.5rem;
            text-align: center;
            font-weight: 600;
            line-height: 1.75rem;
        }

        .stamps{


            .stamp{
                height: 3rem;
                width: 3rem;
                background-color: #dddddd;
            }

            .add-stamp{
                transition: transform 0.3s ease-in-out;

                &:hover{
                    transform: scale(1.05);
                    cursor: pointer;  
                }
            }
        }

        .claim-reward-btn{
            width: 9rem;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }


        .links{
            display: flex;
            flex-direction: column;

            .icon{
                width: 1.25rem;
                height: auto;
            }

            .link-text{
                font-size: 0.65rem;

               
            }
        }

        .offer-details{
            ::-webkit-scrollbar {
                width: 0.5rem; 
              }
              
              ::-webkit-scrollbar-thumb {
                background-color: transparent; 
              }
        }
    }
}