@media (max-width: 767px) {
  .cards-wrapper {
    margin-top: 6rem;
  }
}
.cards-wrapper .react-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-wrapper .react-card-back {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-wrapper .swiper-slide-shadow {
  opacity: 0 !important;
}
.cards-wrapper .swiper-pagination {
  margin-top: 1rem;
  height: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}
.cards-wrapper .swiper-pagination .add-bullet {
  background-color: transparent !important;
  width: 1rem !important;
  height: 1rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-wrapper .swiper-pagination .add-bullet p {
  color: #707070 !important;
  margin: 0;
  font-weight: 800;
  font-size: 0.65rem;
}
.cards-wrapper .swiper-pagination span {
  text-align: center;
  background-color: #707070;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}
.cards-wrapper .swiper-pagination .swiper-pagination-bullet-active {
  background: #6e72fc;
}
.cards-wrapper .swiper-pagination .swiper-pagination-bullet-active p {
  color: #6e72fc !important;
}
.cards-wrapper .add-card {
  width: 17rem;
  height: 28rem;
  background-color: rgba(255, 255, 255, 0.954);
  border: 2px dashed rgba(211, 211, 211, 0.858);
  border-radius: 1rem;
  box-shadow: 0px 0px 6px rgba(136, 136, 136, 0.1764705882);
  padding: 1.5rem;
  position: relative;
}
.cards-wrapper .add-card p {
  color: #a6a6a6;
}
.cards-wrapper .card-custom {
  width: 17rem;
  height: 28rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 0px 6px rgba(136, 136, 136, 0.1764705882);
  padding: 1.5rem;
  position: relative;
}
.cards-wrapper .card-custom .dropdown {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.cards-wrapper .card-custom .dropdown-menu {
  margin-top: 0.5rem !important;
  padding-inline: 1rem;
}
.cards-wrapper .card-custom .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
}
.cards-wrapper .card-custom .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
.cards-wrapper .card-custom .logo-container {
  width: 5.5rem;
  height: 5.5rem;
}
.cards-wrapper .card-custom .logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #dddddd;
}
.cards-wrapper .card-custom h2 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  line-height: 1.75rem;
}
.cards-wrapper .card-custom .stamps .stamp {
  height: 3rem;
  width: 3rem;
  background-color: #dddddd;
}
.cards-wrapper .card-custom .stamps .add-stamp {
  transition: transform 0.3s ease-in-out;
}
.cards-wrapper .card-custom .stamps .add-stamp:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.cards-wrapper .card-custom .claim-reward-btn {
  width: 9rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.cards-wrapper .card-custom .links {
  display: flex;
  flex-direction: column;
}
.cards-wrapper .card-custom .links .icon {
  width: 1.25rem;
  height: auto;
}
.cards-wrapper .card-custom .links .link-text {
  font-size: 0.65rem;
}
.cards-wrapper .card-custom .offer-details ::-webkit-scrollbar {
  width: 0.5rem;
}
.cards-wrapper .card-custom .offer-details ::-webkit-scrollbar-thumb {
  background-color: transparent;
}/*# sourceMappingURL=Cards.css.map */