.register-section{
    width: 100%;
    height: 100vh;

    .divider{
        
    }

    p{
        color: #000000;
        text-align: center;
    }

    a{
        color: #ad1deb;
        text-decoration: underline;
    }

    img{
        width: 35rem;
        height: auto;
    }

    .form-text{
        color: red;
    }
}