.bottom-bar-wrapper{
    background-color: #6e72fc;
    height: 7rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 999;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    @media (min-width : 767px){
        display: none;
    }

    .bottom-bar{
        width: 100%;
        height: 4.375rem;
        a{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }  
        
    }
}
